body {
  background-color: #333;
  color: #eee;
  margin: 0 auto;
  max-width: 1250px;
  padding: 1% 2.5%;
}

nav {
  border-bottom: 1px solid #333;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li:not(:first-child) {
  margin-left: 1em;
}

button {
  background-color: #3b3;
  padding: 0.8em 1.2em;
}

dt {
  color: #dd0;
}

input {
  padding: 0.4em 0.8em;
}

input, textarea {
  background-color: #ddd;
}

button, input, textarea {
  border-radius: 0;
  border-style: hidden;
  margin: 0.2em 0;
}

footer {
  color: #777;
  font-size: 0.8em;
  text-align: center;
}